<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:http="http://schemas.android.com/apk/distribution"
    package="com.sp.beactive">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/htp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/htp_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignIn"
            android:theme="@style/AppTheme.Splash"></activity>
        <activity android:name=".Map" />
        <activity android:name=".Community" />
        <activity android:name=".Goals" />
        <activity android:name=".Health" />
        <activity android:name=".Learning" />
        <activity android:name=".Profile" />
        <activity
            android:name=".Home"
            android:theme="@style/AppTheme.Splash" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>